/.metadata/
MSP430/.jxbrowser-data/*
dvt/*
MSP430/*/.settings
MSP430/*/Debug/
MSP430/*/targetConfigs/
*/.metadata/
.metadata

#Project Files
MSP430/*/RemoteSystemsTempFiles/
MSP430/*/.ccsproject
MSP430/*/.cproject
MSP430/*/.project
MSP430/*/.launches
MSP430/*/*.cmd

STM32/Embedded-C/workspace/host/*/.settings
STM32/Embedded-C/workspace/host/*/.Debug/
STM32/Embedded-C/workspace/host/*/targetConfigs/
STM32/Embedded-C/workspace/host/*/.jxbrowser-data/*
STM32/Embedded-C/workspace/host/*/.ccsproject
STM32/Embedded-C/workspace/host/*/.project
STM32/Embedded-C/workspace/host/*/.launches
STM32/Embedded-C/workspace/host/*/.cmd
STM32/Embedded-C/workspace/host/.metadata/
STM32/Embedded-C/workspace/host/*/.settings/

STM32/Embedded-C/*/*/.metadata/
STM32/*/*/*/.metadata/*
STM32/*/*/*/.metadata/

STM32/Embedded-C/instructor/host/.metadata/

# Object files
*.o
*.ko
*.obj
*.elf

# Eclipse CDT project files
.cproject
.project
.settings/

# Include makefiles
!Makefile
*~

STM32/Embedded-C/workspace/host/*/.settings/
STM32/RemoteSystemsTempFiles/
STM32/.metadata/
STM32/.DS_Store/
STM32/Embedded-C/.DS_Store/
STM32/Embedded-C/instructor/host/.metadata/*
STM32/Embedded-C/workspace/host/.metadata/*
STM32/Embedded-C/*/RemoteSystemsTempFiles/
