/.metadata/
MSP430/.jxbrowser-data/*
dvt/*
MSP430/*/.settings
MSP430/*/Debug/
MSP430/*/targetConfigs/

#Project Files
MSP430/*/RemoteSystemsTempFiles/
MSP430/*/.ccsproject
MSP430/*/.cproject
MSP430/*/.project
MSP430/*/.launches
MSP430/*/*.cmd

STM32/RemoteSystemsTempFiles/
STM32/.metadata/
STM32/.DS_Store/
STM32/Embedded-C/.DS_Store/
STM32/Embedded-C/instructor/host/.metadata/*
STM32/Embedded-C/workspace/host/.metadata/*
STM32/Embedded-C/*/RemoteSystemsTempFiles/
